.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}
 
.table1 tr th{
    background: rgb(37, 167, 102);
    color: #fff;
    font-weight: normal;
}
 
.table1, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.table1 tr:nth-child(even) {
    background-color: #fff;
}


.table2 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}
 
.table2 tr th{
    background: rgb(156, 206, 228);
    color: #fff;
    font-weight: normal;
}
 
.table2, th, td {
    padding: 8px 20px;
    text-align: center;
}

.table3 tr:nth-child(even) {
    background-color: #fff;
}

.table3 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 50%;
    border: 1px solid #f2f5f7;
}
 
.table3 tr th{
    background: rgb(224, 167, 59);
    color: #fff;
    font-weight: normal;
}
 
.table3, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.table3 tr:nth-child(even) {
    background-color: #fff;
}